* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 2rem;
}

form {
    display: none;
    min-width: 354px;
    animation: dropdown 1.5s ease-in-out;
}

form.animated {
    display: block
}

@keyframes dropdown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

li>* {
    display: block;
}

span {
    color: red;
    padding-top: 5px;
}

label {
    font-size: 1.2rem;
}

input {
    padding: 5px;
    width: 100%;
}

input.error {
    border: 2px dashed red;
}

button {
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 7px 5px 0px rgba(158, 158, 158, 1);
}


button:active {
    transform: scale(1.05);
}

button:hover {
    cursor: pointer;
}

.ok {
    font-size: 10rem;
    /* color: lightgreen; */
    color: green;
    animation: submit-form 2s ease-in-out;
}

@keyframes submit-form {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}